@model TCC_Clinica_Medica.MEDICO_HORARIO_ATENDIMENTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MEDICO_HORARIO_ATENDIMENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HORARIOS_ATENDIMENTO.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORARIOS_ATENDIMENTO.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEDICOS.CRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEDICOS.CRM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
