@model CONSULTAS
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <br />
        <br />
        <div>
            <img src="~/Imagens/logo.png" />
            <p>Av. do Contorno, 4747 - Serra, Belo Horizonte - MG, 30110-921</p>
            <p>(31) 3431-0000</p>
        </div>
        <hr />
        <div class="well-sm">
            <h3>Atestado</h3><br />
            <table class="table-condensed">
                <tr>
                    <td>Paciente:</td>
                    <td>@Model.PACIENTES.USUARIOS.NOME</td>
                </tr>
                <tr>
                    <td>Medico:</td>
                    <td>@Model.MEDICOS.USUARIOS.NOME (CRM:@Model.MEDICOS.CRM)</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            <table class="table table-striped">
                    <tr>
                        <td>
                            <h4>Atesto para os devidos fins, a pedido, que o(a) Sr(a). @Model.PACIENTES.USUARIOS.NOME, inscrito(a) no CPF sob o nº @Model.PACIENTES.USUARIOS.CPF, paciente sob meus cuidados, foi atendido(a) no dia @DateTime.Now.ToString("dd/MM/yyyy") às @DateTime.Now.ToString("HH:mm"), e necessitando de _____ dias de repouso.</h4>
                       </td>
                    </tr>
            </table>
            <table class="table">
                <tr>
                    <td><h4>_______________________________________________</h4><br />@Model.MEDICOS.USUARIOS.NOME (CRM:@Model.MEDICOS.CRM)</td>
                    <td></td>
                </tr>
            </table>
            <br />
            <table class="table">
                @foreach (var item in Model.CONSULTA_DOENCA)
                {
                <tr>
                    <td>CID:&nbsp;@item.DOENCAS.CID</td>
                    <td></td>
                </tr>
                }
            </table>

        </div>
    </div>
</body>
</html>
