
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $("#RETORNO").bootstrapSwitch();
</script>

<br />
<br />
<div class="jumbotron">
    <h2>Consulta</h2>
    <div class="form-horizontal">
        <div class="form-group">
            <span class="control-label col-md-2"> Anamnese</span>
            <div class="col-md-10">
                @Html.TextArea("ANAMNESE",  new { @class = "form-control" } )
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Solicitar exames</span>
            <div class="col-md-10" style="height: 150px; overflow-y: scroll;">
                @Html.Partial("ExamesPartial", (List<EXAMES>)ViewBag.Exames)
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Observações Exame</span>
            <div class="col-md-10">
                @Html.TextArea("EXAME_OBSERVACOES", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Doença</span>
            <div class="col-md-10" style="height: 150px; overflow-y: scroll;">
                @Html.Partial("DoencasPartial", (List<DOENCAS>)ViewBag.Doencas)
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">RECEITA</span>
            <div class="col-md-10" style="height: 150px; overflow-y: scroll;">
                @Html.Partial("MedicamentosPartial", (List<MEDICAMENTOS>)ViewBag.Medicamentos)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Necessario retorno?</span>
            <div class="col-md-10">
                <input type="checkbox" id="RETORNO" name="RETORNO" data-toggle="toggle" data-on-text="SIM" data-off-text="NÃO" value="1">
            </div>
        </div>
    </div>
</div>

