@model PagedList.IPagedList<CONSULTAS>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {

        $("#dialog-confirm").hide();
    });

 

</script>


<br />
<br />
<div class="jumbotron">
    <h2>Consultas agendadas</h2>
    <table class="table">
        <tr>
            <td style="width:65%" valign="top">
                @using (Html.BeginForm("Agendadas", "CONSULTAS", FormMethod.Get))
                {
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Pesquisar", @class = "TextBoxSearch" })
                    <button type="submit" class="btn btn-default" id="Procurar">
                        <i class="glyphicon glyphicon-search"></i> &nbsp; Procurar
                    </button>
                }
            </td>
        </tr>


    </table>
    <div class="panel panel-primary">
        <table class="table">
            <tr>
                <th>
                   @Html.ActionLink("DATA INICIO", "Index", new { sortOrder = ViewBag.DataSortParm })
                </th>
                <th>
                   RETORNO
                </th>
                <th>
                   N. RETORNO
                </th>
                <th>
                    @Html.ActionLink("MEDICO", "Index", new { sortOrder = ViewBag.NedicoSortParm })
                </th>
                <th>
                    @Html.ActionLink("PACIENTE", "Index", new { sortOrder = ViewBag.PacienteSortParm })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DATA_INICIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RETORNO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CONSULTAS2.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MEDICOS.USUARIOS.NOME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PACIENTES.USUARIOS.NOME)
                    </td>
                    <td>
                        @Html.ActionLink("Iniciar","Consulta",new { ID = item.ID })
                    </td>
                </tr>
            }
            <tr>
                <td align="right" colspan="6">

                    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
 new PagedListRenderOptions
 {

     LinkToFirstPageFormat = "Primeiro",
     LinkToPreviousPageFormat = "Anterior",
     LinkToNextPageFormat = "Próximo",
     LinkToLastPageFormat = "Última"
 })
                </td>
            </tr>

        </table>

    </div>
    <div id="dialog-confirm" title="">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Tem certeza que deseja cancelar esse item?</p>
    </div>
</div>