@model IEnumerable<TCC_Clinica_Medica.CONSULTAS>

@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultas agendadas</h2>

<br />
<br />
<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DATA_INICIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_FIM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REALIZADA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RETORNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONSULTAS2.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MEDICOS.CRM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PACIENTES.ENDERECO)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DATA_INICIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATA_FIM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REALIZADA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RETORNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONSULTAS2.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MEDICOS.CRM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PACIENTES.ENDERECO)
                </td>
                <td>
                    @Html.ActionLink("Desmarcar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>