@model IEnumerable<TCC_Clinica_Medica.CONSULTAS>


@{
    ViewBag.Title = "Marcação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>


    $(document).ready(function () {
        $('select').listbox({
            'searchbar': true
        });

        $("#DATA").datepicker();
        $("#INICIO").timepicker({ 'timeFormat': 'H:i:s' });
        $("#FIM").timepicker({ 'timeFormat': 'H:i:s' });
        $('#INICIO').mask('00:00:00');
        $('#FIM').mask('00:00:00');
        $("#RETORNO").bootstrapSwitch();
        $("#divConsultasAntigas").hide();

        $('input[name="RETORNO"]').on('switchChange.bootstrapSwitch', function (event, state) {
            
            if (state) {
                $("#divConsultasAntigas").show();
                console.log($('#IDPACIENTE').val());
                AgendaPaciente($('#IDPACIENTE').val());
            }
            else {
                $("#divConsultasAntigas").hide();
            }
        });


        $('#IDPACIENTE').change(function ()
        {
            var id = this.value;
            var state=  $('input[name="RETORNO"]').bootstrapSwitch('state');

                if (state) {
                    $("#divConsultasAntigas").show();
                    AgendaPaciente(id);
                }
                else {
                    $("#divConsultasAntigas").hide();
                }
        });
     
        $('#ESPECIALIDADE').change(function () {

            SelecionarEspecialidade(this.value);
        });
      
    });

    function SelecionarEspecialidade(id)
    {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            url: '@(Url.Action("MudarMedico", "CONSULTAS", null, Request.Url.Scheme))?id=' + id,
            success: function (result) {
                $('#divMedico').html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $.simplyToast(xhr.status);
                $.simplyToast(thrownError);
               // alert(xhr.status);
               // alert(thrownError);
                alert(xhr.responseText);
            },
            cache: false
        });
    }

    function SelecionarMedico(id) {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            url: '@(Url.Action("AgendaMedico", "CONSULTAS", null, Request.Url.Scheme))?id=' + id,
            success: function (result) {
                $('#divAgenda').html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                 $.simplyToast(xhr.status);
                $.simplyToast(thrownError);
               // alert(xhr.status);
               // alert(thrownError);
               // alert(xhr.responseText);
            },
            cache: false
        });
    }

    function AgendaPaciente(id) {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            url: '@(Url.Action("AgendaPaciente", "CONSULTAS", null, Request.Url.Scheme))?id=' + id,
            success: function (result) {
                $('#divAgendaPaciente').html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $.simplyToast(xhr.status);
                $.simplyToast(thrownError);
                // alert(xhr.status);
                // alert(thrownError);
                // alert(xhr.responseText);
            },
            cache: false
        });
    }


</script>


<br />
<br />
<div class="jumbotron">
@using (Html.BeginForm())
{    @Html.AntiForgeryToken()
    <h2>Marcação de consulta</h2>
    <div class="form-horizontal">
        <div class="form-group">
            <span class="control-label col-md-2">Especialidade</span>
            <div class="col-md-10">
                @Html.DropDownList("ESPECIALIDADE", (IEnumerable<SelectListItem>)ViewBag.Especialidades, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" id="">
            <span class="control-label col-md-2" >Medico</span>
            <div class="col-md-10" id="divMedico">
                @Html.Partial("MedicosPartial", (List<USUARIOS>)ViewBag.Medicos)
            </div>
        </div>
        <div class="form-group" id="">
            <span class="control-label col-md-2">Agenda</span>
            <div class="col-md-10" id="divAgenda">
                @Html.Partial("AgendaMedicoPartial", (List<CONSULTAS>)ViewBag.Agenda)
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Paciente</span>
            <div class="col-md-10">
                @Html.DropDownList("IDPACIENTE", (IEnumerable<SelectListItem>)ViewBag.Pacientes, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Data</span>
            <div class="col-md-10">
                @Html.TextBox("DATA", "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Inicio</span>
            <div class="col-md-10">
                @Html.TextBox("INICIO","", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Fim</span>
            <div class="col-md-10">
                @Html.TextBox("FIM","", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Retorno</span>
            <div class="col-md-10">
                <input type="checkbox" id="RETORNO" name="RETORNO" data-toggle="toggle" data-on-text="SIM" data-off-text="NÃO" value="1">
            </div>
        </div>
        <div class="form-group" id="divConsultasAntigas">
            <span class="control-label col-md-2">Antigas consultas do paciente</span>

            <div class="col-md-10" id="divAgendaPaciente">
                @Html.Partial("ConsultasAntigasPaciente", (List<CONSULTAS>)ViewBag.ConsultasAntigasPaciente)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default" id="Criar">
                    <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp; Marcar
                </button>

            </div>
        </div>
    </div>
    @section Scripts { @Scripts.Render("~/bundles/jqueryval")}
 }
</div>
      <script>
          console.log($('#ESPECIALIDADE').val());
          SelecionarEspecialidade($('#ESPECIALIDADE').val());
      </script>
