@model TCC_Clinica_Medica.EXAME_RESULTADO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EXAME_RESULTADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_CRIACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_CRIACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENTREGUE_PACIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENTREGUE_PACIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXAMES_SOLICITADOS.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXAMES_SOLICITADOS.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
