@model IEnumerable<TCC_Clinica_Medica.ESPECIALIDADES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATIVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_CRIACAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_MODIFICACAO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRICAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_CRIACAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_MODIFICACAO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
