@model TCC_Clinica_Medica.PACIENTES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PACIENTES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ENDERECO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENDERECO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLANO_SAUDE.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLANO_SAUDE.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS.NOME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
