@model TCC_Clinica_Medica.EXAMES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EXAMES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_CRIAÇÃO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_CRIAÇÃO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_MODIFICACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_MODIFICACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATIVO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
