@model TCC_Clinica_Medica.USUARIOS

@{
    ViewBag.Title = "Usuários - Novo";
}
<script>

    $(document).ready(function () {


        $('#CPF').mask('00000000000');
        $('#TELEFONE').mask('(00)00000-0000');
        $('#NUMERO_PLANO').mask('0000000000');
        $('#CRM').mask('00000');

        $('.paciente').hide();
        $('.medico').hide();

        $('#TIPO_ACESSO').change(function (e) {

            $('input[type="text"]').each(function () {
                $(this).css({
                    "border": "",
                    "background": ""
                });
            });

            if(this.value == 3)
            {
                $('.paciente').show();
                $('.medico').hide();
            }
            else if (this.value == 2)
            {
                $('.paciente').hide();
                $('.medico').show();
            }
            else
            {
                $('.paciente').hide();
                $('.medico').hide();
            }

        });

        $('#Criar').click(function (e) {
            var CamposFaltando = false;

            if ($('#NOME').val() == '')
            {
                CamposFaltando = true;
                $('#NOME').css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });
            }

            if ($('#EMAIL').val() == '') {
                CamposFaltando = true;
                $('#EMAIL').css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });
            }

            if ($('#CPF').val() == '') {
                CamposFaltando = true;
                $('#CPF').css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });
            }

            if ($('#TIPO_ACESSO').val() == '2')
            {
                if ($('#CRM').val() == '') {
                    CamposFaltando = true;
                    $('#CRM').css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });
                }
            }
            if ($('#TIPO_ACESSO').val() == '3') {
                if ($('#ENDERECO').val() == '') {
                    CamposFaltando = true;
                    $('#ENDERECO').css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });
                }
                if ($('#TELEFONE').val() == '') {
                    CamposFaltando = true;
                    $('#TELEFONE').css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });
                }
                if ($('#NUMERO_PLANO').val() == '') {
                    CamposFaltando = true;
                    $('#NUMERO_PLANO').css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });
                }
            }


            if (CamposFaltando) {
                $.simplyToast('Favor preencher os campos obrigatorios!', 'danger');
                e.preventDefault();
            }
            else {
                return true;
            }

        });
    });
</script>
<br />
<br />
<div class="jumbotron">
    <h2>Usuários</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Novo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <span class="control-label col-md-2">TIPO</span>
                <div class="col-md-10">
                    <select id="TIPO_ACESSO" name="TIPO_ACESSO" class="form-control">
                        <option value="1">Administrador</option>
                        <option value="2">Médico</option>
                        <option value="3">Paciente</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-2">NOME</span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NOME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2">EMAIL</span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2">CPF</span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", maxlength = "11" } })
                    @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group paciente" >
                <span class="control-label col-md-2">ENDEREÇO</span>
              
                <div class="col-md-10">
                    @Html.Editor("ENDERECO", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group paciente">
                <span class="control-label col-md-2">TELEFONE</span>
            
                <div class="col-md-10">
                    @Html.Editor("TELEFONE", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group paciente">
                <span class="control-label col-md-2">PLANO</span>
                <div class="col-md-10">
                   @Html.DropDownList("PLANO", (IEnumerable<SelectListItem>)ViewBag.Planos, "SELECIONE", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group paciente">
                <span class="control-label col-md-2">N. CARTEIRINHA</span>
                <div class="col-md-10">
                    @Html.Editor("NUMERO_PLANO", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group medico">
                <span class="control-label col-md-2">CLINICA</span>
                <div class="col-md-10">
                    @Html.ListBox("CLINICA", (IEnumerable<SelectListItem>)ViewBag.Clinicas, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group medico">
                <span class="control-label col-md-2">ESPECIALIDADE</span>
                <div class="col-md-10">
                    @Html.ListBox("ESPECIALIDADE", (IEnumerable<SelectListItem>)ViewBag.Especialidades, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group medico">
                <span class="control-label col-md-2">HORARIO</span>
                <div class="col-md-10">
                    @Html.ListBox("HORARIO", (IEnumerable<SelectListItem>)ViewBag.Horarios, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group medico">
                <span class="control-label col-md-2">CRM</span>
                <div class="col-md-10">
                    @Html.Editor("CRM", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default" id="Criar">
                        <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp; Criar
                    </button>

                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("<<< Voltar", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>