@model TCC_Clinica_Medica.USUARIOS

@{
    ViewBag.Title = "Usuários - Editar";
}


    <script>
        $(document).ready(function () {

            $('#CPF').mask('00000000000');
            $('#TELEFONE').mask('(00)00000-0000');
            $('#NUMERO_PLANO').mask('0000000000');
            $('#CRM').mask('00000');

        $('#Criar').click(function (e) {
            var CamposFaltando = false;

            $('input[type="text"]').each(function () {
                if ($.trim($(this).val()) == '') {
                    CamposFaltando = true;
                    $(this).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });

            $('input[type="select"]').each(function () {
                if ($.trim($(this).val()) == '') {
                    CamposFaltando = true;
                    $(this).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });

            if (CamposFaltando) {
                $.simplyToast('Favor preencher os campos obrigatorios!', 'danger');
                e.preventDefault();
            }
            else {
                return true;
            }

        });
    });
        </script>
<br />
<br />
<div class="jumbotron">
    <h2>Usuários</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Editar</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            <div class="form-group">
                <span class="control-label col-md-2">NOME</span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NOME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2">EMAIL</span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-2">CPF</span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control",maxlenght = "11" } })
                    @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group paciente">
                <span class="control-label col-md-2">ENDEREÇO</span>
              
                
                <div class="col-md-10">
                    @if (Model.PACIENTES.Count > 0)
                    {
                        @Html.TextBox("ENDERECO", Model.PACIENTES.ToList().FirstOrDefault().ENDERECO,  new { @class = "form-control"})
                    }
                </div>
            </div>
            <div class="form-group paciente">
                <span class="control-label col-md-2">TELEFONE</span>

                <div class="col-md-10">
@if (Model.PACIENTES.Count > 0)
{
                    @Html.TextBox("TELEFONE", Model.PACIENTES.ToList().FirstOrDefault().TELEFONE, new { @class = "form-control" })
}
                </div>
            </div>
            <div class="form-group paciente">
                <span class="control-label col-md-2">PLANO</span>
                <div class="col-md-10">
@if (Model.PACIENTES.Count > 0)
{
                    @Html.DropDownList("PLANO", (IEnumerable<SelectListItem>)ViewBag.Planos, "SELECIONE", new { @class = "form-control" })
}
                </div>
            </div>
            <div class="form-group paciente">
                <span class="control-label col-md-2">N. CARTEIRINHA</span>
                <div class="col-md-10">
                    @if (Model.PACIENTES.Count > 0)
                    {
                    @Html.TextBox("NUMERO_PLANO", Model.PACIENTES.ToList().FirstOrDefault().NUMERO_PLANO, new { @class = "form-control" })
                    }
                </div>
            </div>
            <div class="form-group medico">
                <span class="control-label col-md-2">CLINICA</span>
                <div class="col-md-10">
                    @Html.ListBox("CLINICA", (IEnumerable<SelectListItem>)ViewBag.Clinicas, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group medico">
                <span class="control-label col-md-2">ESPECIALIDADE</span>
                <div class="col-md-10">
                    @Html.ListBox("ESPECIALIDADE", (IEnumerable<SelectListItem>)ViewBag.Especialidades, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group medico">
                <span class="control-label col-md-2">HORARIO</span>
                <div class="col-md-10">
                    @Html.ListBox("HORARIO", (IEnumerable<SelectListItem>)ViewBag.Horarios, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group medico">
                <span class="control-label col-md-2">CRM</span>
                <div class="col-md-10">
                    @if (Model.MEDICOS.Count > 0)
                    {
                        @Html.TextBox("CRM", Model.MEDICOS.ToList().FirstOrDefault().CRM, new { @class = "form-control" })
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.ATIVO)
        @Html.HiddenFor(model => model.DATA_CRIACAO)
        @Html.HiddenFor(model => model.DATA_MODIFICACAO)
        @Html.HiddenFor(model => model.SENHA)
        @Html.HiddenFor(model => model.FOTO)
        @Html.Hidden("TIPO_ACESSO", Model.TIPO_ACESSO)

        

    }

    <div>
        @Html.ActionLink("<<< Voltar", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
<script>

    $(document).ready(function () {


        if ($('#TIPO_ACESSO').val() == '3')
        {
            console.log($('#TIPO_ACESSO').val());
            $('.medico').hide();
            $('.paciente').show();
        }
        
        if ($('#TIPO_ACESSO').val() == '2') {
            console.log($('#TIPO_ACESSO').val());
            $('.medico').show();

            $('.paciente').hide();
        }

        if ($('#TIPO_ACESSO').val() == '1') {
            console.log($('#TIPO_ACESSO').val());
            $('.medico').hide();

            $('.paciente').hide();
        }
        

    });
</script>