@model TCC_Clinica_Medica.RECEITAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RECEITAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONSULTAS.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONSULTAS.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEDICAMENTOS.NOME_GENERICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEDICAMENTOS.NOME_GENERICO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
